/* style.css */
body {
  --text-color: #000000;
  --background-color: rgb(241, 241, 241);
  --hover-color: red;
  --span-color: red; 
}

/* Global Styles */
body {
  background-color: var(--background-color);
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
nav {
  text-align: right;
  padding-right: 20px;
  position: fixed;
  width: 100%;
}

nav ul li {
  display: inline;
  list-style: none;
}

nav a {
  padding: 10px;
  text-decoration: none;
  color: var(--text-color);
  padding-right: 20px;
}
nav img {
  float: left;
}
nav a:hover, nav a:active {
  color: var(--hover-color);
}

.logo {
  width: 90px;
  height: auto;
  padding-left: 45px;
}

.heading {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

.heading h1 {
  font-size: 60px;
}

span {
  color: var(--span-color);
}

.about {
  padding: 20px;
  text-align: center;
  word-spacing: 4px;
  line-height: 40px;
  width: 97%;
  height: 78vh;
  color: var(--text-color);
}

.about h2 {
  font-size: 35px;
}

.about p {
  font-size: 20px;
}

.works {
  color: var(--text-color);
  display: grid;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

.contact {
  color: whitesmoke;
  display: flex;
  justify-content: center;
}

/* Responsive Navbar for Mobile */
@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .logo {
    padding-left: 0;
  }

  .about {
    display: block;
  }

  .heading h1 {
    font-size: 35px;
  }

  .menu-button {
    display: block;
  }
}
